<mat-toolbar *ngIf="isLoggedIn; else notLoggedIn;">
  <button mat-icon-button class="icon-button-style" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mat-app-title-align">Online Product Shopping</span>
  <span class="example-spacer"></span>
  <form [formGroup]="product" (ngSubmit)="submit()">
  <table>
  <tr>
  <td>
    <input class="form-control" type="number" id="id" formControlName="id"
  placeholder="Enter the product ID" >
  </td>
  <td>
  <button type="submit" mat-icon-button class="icon-button-style" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
  </td>
  </tr>
  </table>
  </form>
  <button [routerLink]="['/']" mat-icon-button class="icon-button-style" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="icon-button-style" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="icon-button-style" aria-label="Example icon-button with share icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button (click)="logout()"mat-icon-button class="icon-button-style" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<ng-template #notLoggedIn>
  <mat-toolbar>
    <button mat-icon-button class="icon-button-style" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="mat-app-title-align">Online Product Shopping</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/login']" mat-icon-button class="icon-button-style" aria-label="Example icon-button with heart icon">
      Login <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
</ng-template>
