.mat-app-title-align{
    padding-left: 2%;
}

.example-spacer {
    flex: 1 1 auto;
}
.icon-button-style{
    margin-left: 2%;
    margin-right: 2%;
}
mat-toolbar{
    background-color: lightskyblue;
}