<div class="login-container">
    <h2 class="align-center">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control " />
        </div>
        <div class="form-group align-right">
            <button  class="btn btn-primary">
                    Login
            </button>
        </div>
    </form>
    <a href="{{ githubURL }}">
        <img width="20px" height="20px" src="/assets/img/github.png" class="btn-img">Login with Github
    </a>
</div>